<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/custom.css">
    <title>Edit</title>
</head>
<body>
    <div class="container">
        <h1>Editing <%= mech[0].name%></h1>
        <div class="form">
            <form action="/editProcess/<%= mech[0]._id%>" method="POST">
                Name : <input type="text" name="name" value="<%= mech[0].name%>">
                Class : <input type="text" name="class" value="<%= mech[0].class%>">
                Faction : <input type="text" name="faction" value="<%= mech[0].faction%>">
                Hardpoints : <input type="number" name="hardpoints" value="<%= mech[0].hardpoints%>">
                <input type="submit" value="Update mech">
            </form>
        </div>
    </div>
</body>
</html>